h1{color: rgb(255, 217, 0);
background-color: rgb(255, 15, 15);
font-size: 48px;
font-style: oblique;
}

img {
    width: 214px;
    height: auto;
    
}

p {
    background-color: rgb(0, 235, 145);
    font-size: 40px;
    color:blue
    
     
}
p2 {
    font-size: larger;
}
body {
    background-color: darkkhaki;
}